---
import type { z } from "zod";
import type { MoneyV2Result } from "../utils/schemas";
import Money from "./Money.svelte";

export interface Props {
  price?: z.infer<typeof MoneyV2Result>;
  title: string;
}
const { price, title } = Astro.props as Props;
---

<h1 class="text-2xl font-bold text-navy sm:text-4xl">
  {title}
</h1>
<p class="mt-4 text-3xl font-bold text-gold">
  <Money price={price} />
</p>
